.top, .bottom{
    border: 2px solid red;
}
/*.left{*/
    /*float: left;*/
/*}*/
.left, .right {
    border: 2px solid green;
    float: left;
}
div.left, div.right{
    width: 100px;
    height: 100px
}

.w{
    clear: both;
}

.block{
    background-color: aquamarine;
}