td {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    padding: 0;
   }
.circle{
    width: 40px;
    height: 40px;
    padding: 0;
}
table {
    width: 100%;
    border-spacing: 0;
}
.board{
    border: 2px solid black;
    float: left;
}
.questions{
    border: 2px solid black;
    float: right;
}
.answer_choice{
    border: 2px solid black;
}

.magic{
    clear: both;
}

