.form-connect{
    /*width: 300px;*/
    /*margin: 0;*/
}
.RegisterLED > ul > .RED{
    background-color: #b94f47;
}
.RegisterLED > ul > .GREEN{
    background-color: #28a24a;
}
.RegisterLED > ul > .BLUE{
    background-color: #4476b9;
}
.RegisterLED > ul > .YELLOW{
    background-color: #b99723;
}
td {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    padding: 0;
   }
.circle{
    width: 40px;
    height: 40px;
    padding: 0;
}
table {
    width: 100%;
    border-spacing: 0;
}
.board{
    border: 2px solid black;
    float: left;
}
.questions{
    border: 2px solid black;
    float: right;
}
#answer_choice{
    border: 2px solid black;
}

.magic{
    clear: both;
}

#board img{
    width: 40px;
    height: 40px;
    padding: 0;
}
.status{
    border: 2px solid red;
}
#end{
    align-content: center;
    align-self: center;
    align-items: center;
}
body{
    background-image: url("../images/Natural-Paper-Background.jpg");
}
#timer{
    align-content: center;
    align-self: center;
    align-items: center;
    font-size: large;
}
#answer_choice{
    align-content: center;
    align-self: center;
    align-items: center;
}
#markscon{
    align-content: center;
    align-self: center;
    align-items: center;
}
#timer label{
    background-color: orange;
}
#points {
    font-size: x-large;
}
#state {
    font-size: large;
}
#questions button {
    display: inline-block;
    border: none;
}
#questions td {
    padding: 0;
}
#questions tr {
    padding: 0;
}
#questions {
    padding: 0;
}
#marks {
    color: black;
}
#team {
    color: black;
}